@import "global";
@import "fonts";

//start header
.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .header__top-line {
    border-bottom: 1px solid #696565;
    .header__inner {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      &-menu {
        padding-top: 10px;
        .menu__list {
          li {
            display: inline-block;
            & + li {
              margin-left: 30px;
            }
          }
          a {
            text-transform: uppercase;
          }
        }
      }
      &-call {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: 700;
        span {
          color: #99d373;
          padding-right: 15px;
        }
      }
    }
  }
  .header__inner-menu a:hover {
    color: #99d373;
  }
  .header__inner-menu a.active {
    border-bottom: 3px solid #99d373;
    padding-bottom: 35px;
  }
  .header__content {
    &-title {
      font-family: "Storytella";
      font-size: 200px;
      padding: 200px 0;
      text-align: center;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      &__item {
        width: 260px;
        height: 420px;
        background-color: #0e141d;
        margin-bottom: 100px;
        img {
          width: 260px;
          height: 240px;
        }
        .item__title {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 30px;
          line-height: 30px;
          text-transform: uppercase;
          max-width: 150px;
          padding: 55px 35px;
          span {
            font-weight: 100;
          }
        }
      }
    }
  }
}
//end header
// start progress
.title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 25px;
  span {
    font-weight: 100;
  }
}
.progress {
  padding: 140px 0 170px;
  &__text {
    text-align: center;
    color: #b3b3b3;
    font-size: 18px;
    padding-bottom: 70px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: center;
      img {
        padding-right: 30px;
      }
      .progress__number {
        color: #2e211d;
        .number {
          font-size: 50px;
          font-weight: 800;
        }
        .number__text {
          font-size: 16px;
          font-weight: 700;
          color: #555555;
        }
      }
    }
  }
}
// end progress
// start products
.products__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  &-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 300px;
    &__box {
      background-color: rgb(36, 22, 16);
      opacity: 0.702;
      width: 0;
      height: 0;
      overflow: hidden;
      .item__title {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        text-transform: capitalize;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
.products__inner-item:hover .products__inner-item__box {
  width: 100%;
  height: 100%;
}
// end products
// start quality
.quality {
  padding: 160px 0 140px;
  .quality__inner {
    display: flex;
    img {
      width: 580px;
      height: 410px;
    }
    &-text {
      max-width: 670px;
      padding: 80px 0 100px 130px;
      font-family: "Storytella";
      font-size: 74px;
      color: #4fb1c9;
      span {
        color: #99d373;
      }
    }
  }
}
// end quality
