@import "global";
@import "fonts";
@import "media";

//start header
.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .header__top-line {
    border-bottom: 1px solid #696565;
    .header__inner {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      &-menu {
        padding-top: 10px;
        .menu__list {
          li {
            display: inline-block;
            & + li {
              margin-left: 30px;
            }
          }
          a {
            text-transform: uppercase;
          }
        }
      }
      &-call {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: 700;
        span {
          color: #99d373;
          padding-right: 15px;
        }
      }
    }
  }
  .header__menu-btn {
    width: 30px;
  }
  .header__menu-row {
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;
  }
  .header__inner-menu a:hover {
    color: #99d373;
  }
  .header__inner-menu a.active {
    border-bottom: 3px solid #99d373;
    padding-bottom: 35px;
  }
  .header__content {
    &-title {
      font-family: "Storytella";
      font-size: 200px;
      padding: 200px 0;
      text-align: center;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      &__item {
        width: 260px;
        height: 420px;
        background-color: #0e141d;
        margin-bottom: 100px;
        img {
          width: 260px;
          height: 240px;
        }
        .item__title {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 30px;
          line-height: 30px;
          text-transform: uppercase;
          max-width: 150px;
          padding: 55px 35px;
          span {
            font-weight: 100;
          }
        }
      }
    }
  }
}
//end header
// start progress
.title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 25px;
  span {
    font-weight: 100;
  }
}
.progress {
  padding: 140px 30px 170px;
  &__text {
    text-align: center;
    color: #b3b3b3;
    font-size: 16px;
    padding-bottom: 70px;
    font-weight: 300;
    line-height: 25px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: center;
      img {
        padding-right: 30px;
      }
      .progress__number {
        color: #2e211d;
        .number {
          font-size: 50px;
          font-weight: 800;
        }
        .number__text {
          font-size: 16px;
          font-weight: 700;
          color: #555555;
        }
      }
    }
  }
}
// end progress
// start products
.products__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  &-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 300px;
    &__box {
      background-color: rgb(36, 22, 16);
      opacity: 0.702;
      width: 0;
      height: 0;
      overflow: hidden;
      .item__title {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        text-transform: capitalize;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
.products__inner-item:hover .products__inner-item__box {
  width: 100%;
  height: 100%;
}
// end products
// start quality
.quality {
  padding: 160px 0 140px;
  .quality__inner {
    display: flex;
    &-text {
      max-width: 670px;
      padding: 80px 0 100px 130px;
      font-family: "Storytella";
      font-size: 74px;
      color: #4fb1c9;
      span {
        color: #99d373;
      }
    }
  }
}
.quality__inner img {
  width: 580px;
  height: 410px;
}
// end quality
// start agro
.agro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  .agro__inner {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    &-box {
      max-width: 550px;
      padding: 115px 0;
      margin-right: 100px;
      &__title {
        color: #fff;
        text-align: start;
        max-width: 300px;
      }
      &__text {
        line-height: 23px;
        padding: 60px 0;
      }
      &__btn {
        background-color: #99d373;
        padding: 15px 50px;
        color: #333333;
        font-weight: 700;
        border-radius: 100px;
      }
    }
  }
}

// end agro
// start services
.services {
  padding: 140px 0 170px;
  &__text {
    text-align: center;
    color: #b3b3b3;
    font-size: 16px;
    padding-bottom: 70px;
    font-weight: 300;
    line-height: 25px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    &-item {
      text-align: center;
      &__title {
        color: #333333;
        font-weight: 700;
        padding-top: 35px;
      }
    }
  }
}
//end services
//start feedback
.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  .feedback__title {
    padding-top: 150px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
  }
  .feedback__inner {
    padding-bottom: 130px;
    &-item {
      max-width: 650px;
      &__customer {
        padding: 60px 0;
        display: inline-flex;
        img {
          border-radius: 50%;
        }
        .customer__data {
          padding: 30px 20px;
          line-height: 23px;
        }
      }
      &__text {
        line-height: 26px;
      }
    }
  }
}
ul.slick-dots {
  padding-top: 60px;
  height: 15px;
  li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    font-size: 0;
    & + li {
      margin-left: 10px;
    }
  }
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background-color: #99d373;
}
//end feedback
//start blog
.blog {
  padding: 130px 0 150px;
  .blog__text {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #4d4c4c;
    padding-bottom: 60px;
  }
  .blog__inner {
    display: flex;
    justify-content: space-between;
    &-item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 270px;
      height: 270px;
      position: relative;
      &__date {
        position: absolute;
        top: 0;
        left: 20px;
        background-color: #99d373;
        padding: 10px;
        text-align: center;
        color: #333333;
        .day {
          font-weight: 800;
          font-size: 18px;
        }
        .month {
          font-size: 16px;
          color: #696565;
          font-size: 10px;
        }
      }
      &__content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        .content__label {
          color: #99d373;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 12px;
          padding-bottom: 10px;
        }
        .content__title {
          font-size: 16px;
        }
      }
    }
  }
}
//end blog
//start footer
.footer {
  background-color: #0d0d1a;
  .footer__inner {
    padding: 80px 0 30px;
    display: flex;
    justify-content: space-between;
    .footer__col {
      &-list {
        display: flex;
        flex-direction: column;
        li {
          padding-bottom: 20px;
        }
      }
      &-contact {
        span {
          color: #99d373;
          text-transform: uppercase;
        }
        a {
          padding-left: 15px;
          padding-bottom: 20px;
        }
      }
      &-social {
        li {
          a{
            color: #b3b3b3;
            &:hover{
              color: #99d373;
            }
          }
          
          & + li {
            margin-left: 10px;
          }
          display: inline-block;
        }
      }
    }
  }
  .footer__copy {
    .footer__inner-copy {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      padding: 15px 0;
      color: #999999;
      a {
        color: #999999;
      }
    }
  }
}
.footer__col-list a:hover {
  color: #99d373;
}
.copy-text a {
  margin-left: 15 px;
}
//end footer
